.Banner {
    margin: 0.5vw;
    padding: 0vw 1vw 0vw 3vw;
    text-align: center;
    font-weight: bold;
    font-size: 1.75vw;
    color: #002933;
    background-color: #80e5ff;
    border: 0.5vw solid #005266;
    border-radius: 2vw;
}

.BImage {
  width: 6vw;
  height: 6vw;
  object-position: 50% 50%;
  left: 6%;
  top: -8vw;
  position: relative;
}
